*, :after, :before {
    box-sizing: border-box;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        .login {
            margin-top: 30px;
            width: 500px;
            .logo {
                img {
                    max-width: 200px;
                }
            }
            form {
                margin-top: 50px;
                .form-group {
                    display: flex;
                    padding: 20px;
                    margin-top: 10px;
                    background: #f5f5f5;
                    border-radius: 4px;
                    &:focus-within {
                        background: #eeeeee;
                    }
                    .form-sub-group {
                        position: relative;
                        &:last-child {
                            flex-grow: 1;
                        }
                        span.icon {
                            margin-right: 10px;
                        }
                        input {
                            font-size: 1em;
                            border: 0;
                            background: transparent;
                            padding: 0;
                            width: 100%;
                            &::placeholder {
                                color: transparent;
                            }
                            &:focus, &:not(:placeholder-shown) {
                                outline: none;
                                transform: translateY(10px);
                                & + label {
                                    transform: translateY(-10px) scale(.75);
                                }
                            }
                        }
                        label {
                            position: absolute;
                            top: 0;
                            left: 0;
                            cursor: text;
                            transform-origin: 0 0;
                            transition: all 0.3s;
                        }
                    }
                }
                .form-group-mini {
                    padding: 20px 0;
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.9em;
                    a {
                        color: #111111;
                    }
                }
                .form-actions {
                    input[type=submit] {
                        padding: 15px 20px;
                        background: #c90e0e;
                        font-size: 0.85em;
                        color: #fff;
                        cursor: pointer;
                        border: 0;
                        border-radius: 4px;
                        transition: all 0.3s;
                        &:hover {
                            background: #222222;
                        }
                    }
                    span {
                        padding: 20px;
                    }
                    a.register-btn {
                        padding: 15px 20px;
                        background: #222222;
                        font-size: 0.85em;
                        color: #fff;
                        text-decoration: none;
                        border-radius: 4px;
                        &:hover {
                            background: #c90e0e;
                        }
                    }
                }
            }
            .social-logins {
                margin-top: 50px;
                .social-items {
                    display: flex;
                    a {
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        text-decoration: none;
                        &.google {
                            background: #eeeeee;
                        }
                        &.facebook {
                            background: #4267B2;
                        }
                        &.twitter {
                            background: #00acee;
                        }
                        img {
                            max-width: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    div.illustration {
        display: none;
    }
}